// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
$primaryBG : #513669;
$primaryFG : #513669;
$text : #ffff;

.header::after{
    background: none;
}
.toolbar-title-md{
    color: white;
}
.toolbar-background{
    // background-color: lighten($primaryBG, 5%);
    // background: linear-gradient($primaryBG,lighten($primaryBG, 1%),lighten($primaryBG, 5%),lighten($primaryBG, 6%), transparent);
    background: linear-gradient(lighten($primaryBG, 10%),lighten($primaryBG, 12%), transparent);
    opacity: 0.7;
}

.content{
    color: $text;
    background: linear-gradient(lighten($primaryBG, 15%), $primaryBG, darken($primaryBG,10%));
}
.scroll-content{
    margin-top: 0!important;
}